@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Varta:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');



.container-full{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 535px;
        padding: 1rem;

        .mat-step-label{
            min-width: 0;
        }
        
    }
    .logo{
        width: 20px;
    }

    .card-img{
        max-width: 50px;
        padding: 1rem;
    }
    .subtitle{
        color: #333;
    }

    form{
        display: flex;
        width: 100%;
        height: 100%;
        padding-top: 2rem;

        .input-container{
            width:calc(100% - 250px);
            height: 300px ;
            padding: 0 1rem;
        }
        
        .perfil-container{
            width: 250px;
            height: 300px;
            border: 1px solid rgb(233, 233, 233);
            border-radius: 5px;
            overflow: hidden;

            .selected-image{
                width: 250px;
                height: 250px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }


            .input-file{
                width: 100%;
                height: 50px;
                background: rgb(224, 224, 224);
                display: flex;
                align-items: center;
                justify-content: center;
                

                label{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    mat-icon{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

// .container-full{
//    max-width: 100vw;
//     height: 100vh;

//     .form{
//         width: 100%;
//         height: 100%;
//         overflow-x: auto;

//         strong{
//             font-size: 30px;
//             color: #333;
//         }
//     }
// }

// section{
//     width: 100vw ;
//     height: 100vh;
//     background-color: #fff;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: linear-gradient( to bottom right, #485563, #293236);

//    .container{
//         width: 80%;
//         height: 90%;
//         background-color: #fff;
//         border-radius: 10px;
//         padding: 0;
//         display: flex;

//         .left{
//             width: 40%;
//             height: 100%;
//             display: flex;
//             align-items: center;
//             flex-direction: column;
//             justify-content: center;
//             overflow: hidden;
//             border-radius: 10px 0 0 10px;

//             img{
//                 height: 100%;
//                 border-radius: 10px;
//             }
//         }
//         .right{
//             width: 60%;
//             padding: 1rem 3rem;
//             overflow-x: auto;
//             .row{
//                 .col-auto{
//                     h1{
//                         font-family: 'Varta';
//                         font-weight: 100;
//                     }
//                 }
//             }

//         }

//    }
// }

@media screen and(max-width: 1000px) {
    section{
        .container{
            width: 100%;
            height: 100%;
    
            .right{
                width: 100%;
                padding: 1rem;
            }
            .left{
                display: none;
                background-color: blue ;
            }
        }
    }
}