<div class="container-full p-2">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let element of dataSource" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="date me-5" style="width: 250px;">
                        <span>
                            <mat-icon>event</mat-icon>
                            {{element.data}} às {{element.time}}
                        </span>
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="payment-accomplished   mb-3">
                <div class="payment me-4" style="z-index: 100;">
                    <span>
                        <mat-checkbox (change)="updateEvent(element)" [(ngModel)]="element.pago">Pagamento Realizado</mat-checkbox>
                        <mat-icon>payments</mat-icon>
                    </span>
                </div>
                <div class="accomplished">
                    <span>
                        <mat-checkbox (change)="updateEvent(element)" [(ngModel)]="element.realizado">Consulta Realizada</mat-checkbox>
                        <mat-icon>done</mat-icon>
                    </span>
                </div>
                <div class="valorConsulta ms-4" style="display: flex; align-items: center;">
                    <mat-form-field appearance="outline">
                        <mat-label>Valor</mat-label>
                        <input (blur)="updateEvent(element)" type="text" matInput [(ngModel)]="element.valorConsulta" >
                    </mat-form-field>
                </div>
           </div>
            <!-- <mat-form-field  appearance="outline">
                <textarea #textarea (blur)="updateEvent(element)"  rows="20" [(ngModel)]="element.observacao" style="width: 100%; height: auto;"  oninput="if(this.scrollHeight > this.offsetHeight) this.rows ++" matInput ></textarea>
                <mat-label>Observações da consulta</mat-label>
            </mat-form-field> -->
                <angular-editor [(ngModel)]="element.observacao" (blur)="updateEvent(element)" ></angular-editor>
            <mat-action-row>
                <button (click)="deleteEvent(element._id)" mat-raised-button color="warn">
                    Excluir
                </button>
            </mat-action-row> 
        </mat-expansion-panel>
    </mat-accordion>
</div>
