<app-toolbar [drawer]="drawer"></app-toolbar>

<mat-drawer-container mode="over">
    <mat-drawer #drawer>
        <app-menu></app-menu>
    </mat-drawer>

    
    <section>
        <div class="container-full">

        

            <div class="container-cadastro" *ngIf="showCadastro">
                <div class="modal-cadastro">
                    <h1>Envie este link para seu cliente ou abra em uma nova janela.</h1>
                    <div class="copy">
                        <p>{{clipboardCopy}}</p>
                        <button [cdkCopyToClipboard]="clipboardCopy" class="btn btn-primary"> Copiar</button>
                    </div>
                    <button (click)="showCadastro = false" class=" mt-2 btn btn-success">OK</button>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <h2>Meus Clientes</h2>
                </div>
                <div class="col-auto">
                    <button (click)="showCadastro = !showCadastro" class="btn btn-outline-primary">Cadastrar novo</button>
                </div>
            </div>
            <mat-divider class="mt-4 mb-3"></mat-divider>


            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text"><fa-icon [icon]="faMagnifingGlass"></fa-icon></span>
                        <input class="form-control" (keyup)="applyFilter($event)" placeholder="Ex. Fabio Francisco" #input type="text">
                    </div>
                </div>
            </div>


            <div class="container-table mat-elevation-z8" tabindex="0">
                <table mat-table [dataSource]="dataSource" >
                
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td  [routerLink]='["/meus-clientes/cliente", element._id]' mat-cell *matCellDef="let element"> 
                            <div>
                                <p style="margin: 0; margin-top: 3px; padding: 0;">{{element.nome}}</p>
                                <p class="text-secondary" style=" margin:0;font-size: 12px;">{{element.email}}</p>
                            </div> 
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="cpf">
                        <th  mat-header-cell *matHeaderCellDef> CPF </th>
                        <td  [routerLink]='["/meus-clientes/cliente", element._id]' mat-cell *matCellDef="let element"><p>{{element.cpf | mask: '000.000.000-00'}}</p></td>
                      </ng-container>
                  
                    <ng-container matColumnDef="verPerfil" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef> Opções </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" ><mat-icon >more_horiz</mat-icon></button> 
                            <mat-menu #menu="matMenu">
                                <button [routerLink]='["/meus-clientes/cliente", element._id]'mat-menu-item>
                                    <mat-icon>visibility</mat-icon>
                                     Ver Perfil
                                </button>
                                <button (click)="agendarConsulta(element)" mat-menu-item>
                                    <mat-icon>event</mat-icon>
                                    Agendar consulta
                                </button>
                                <button (click)="deleteCliente(element)" mat-menu-item>
                                    <mat-icon color="warn">delete</mat-icon>
                                    <span  class="text-danger">Excluir</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                
                
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr  mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">Não encontramos nenhum usuario com o nome: "{{input.value}}"</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container-modal" [formGroup]="form" *ngIf="showModal">
            <div class="new-agenda">
                <h3>Agendar novo atendimento</h3>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Cliente</mat-label>
                            <input type="text" readonly matInput [ngModel]="cliente.nome" formControlName="title">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Data</mat-label>
                            <input matInput formControlName="start" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field style="width:100% ;"  appearance="outline">
                            <mat-label>Horario</mat-label>
                            <input type="time" matInput formControlName="time">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field style="width:100% ;" appearance="outline">
                            <mat-label>Valor da consulta</mat-label>
                            <input type="number" placeholder="Ex: 180" matInput formControlName="valorConsulta">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mb-3" *ngIf="form.value.start && form.value.time">
                    <div class="col-auto">
                        <mat-slide-toggle color="primary" (change)="togglebutton($event.checked)">Repetir este evento</mat-slide-toggle>
                    </div>
                </div>

                <div *ngIf="toggle" class="row">

                    <div class="col-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Quando</mat-label>
                            <mat-select  formControlName="repeat">
                                <mat-option  *ngFor="let option of selectRepeatOptions " [value]="option.value">
                                    {{option.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-auto">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Até</mat-label>
                            <input matInput (dateChange)="setFinalDate()" formControlName="finalDate" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> 
                    </div>
                </div>



                <div class="row">
                    <div class="col-auto">
                        <button [disabled]="!form.valid" (click)="setAgenda()" class="btn btn-primary">Agendar</button>
                    </div>
                    <div class="col-auto">
                        <button (click)="showModal = false " class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="mobile">
        <app-menu></app-menu>
    </div>
</mat-drawer-container>